body{
    background-color: #000;
    color: #fff;
}
h1{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10%;
}
p{
    font-family: 'Red Hat Display', sans-serif;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}